services:
  postgres:
    image: 'postgres:latest'
    volumes:
      - ./pgdata:/var/lib/postgresql
      - ./db/seed.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
